/* ---------------------------------------- */
/* GENERAL */
/* ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  vertical-align: baseline;
}

html, body {
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: #333333;
}

.indent-1 {
  margin-left: 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fant-font {
  font-family: fantasy;
}

/* ---------------------------------------- */
/* Lobby Styling */
/* ---------------------------------------- */

#lobby-container {
  display: grid;
  grid-template-columns: [lobby-col-beg] 3fr [main-col-beg] 6fr [main-col-end] 3fr [lobby-col-end];
  grid-template-rows: [lobby-row-beg] 20px [logo] 2fr [main-row-beg] auto [main-row-end] 20px [lobby-row-end];
}

#logo {
  grid-column-start: main-col-beg;
  grid-row-start: logo;
  margin: 10px auto;
  text-align: center;
  position: relative;
  width: 600px;
}

#logo > img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  height: 225px;
}

#logo > p {
  color: red;
  font-size: 200%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

#lobby-options {
  grid-column: main-col-beg / main-col-end;
  grid-row: main-row-beg / main-row-end;
  text-align: left;
  padding: 10px 40px;
  background: url(http://ktah.cs.lmu.edu/assets/site-accents/ktah_paper_mid.png) top left repeat-y;
  background-size: 100%;
  background-clip: padding-box;
}

#character-grid {
  grid-template-columns: [char-beg] 1fr [char-select-beg] auto [char-select-end] 1fr [char-end];
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 3px solid black;
  background-color: black;
  color: red;
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
}

input[type=radio]:checked + label {
  border: 3px solid red;
}

#char-architect + label {
  background-image: url("../assets/images/architect.png");
  background-size: contain;
}

#config-launch-holder {
  text-align: center;
}

#config-launch {
  background-color: black;
  color: red;
  border: 3px solid red;
  font-size: 150%;
  width: 300px;
  padding: 10px;
}

#loading {
  text-align: center;
  margin: 50px auto;
}


/* ---------------------------------------- */
/* Game Styling */
/* ---------------------------------------- */
#game-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: [game-col-beg] 2fr [game-health] 3fr [game-round] 1fr [game-timer] 3fr [menu-end] 2fr [game-col-end];
  grid-template-rows: [game-row-beg] 2fr [game-stats] 1fr [game-maze-beg] auto [game-maze-end] 2fr [game-row-end];
	text-align: center;
  color: white;
  font-size: 150%;
}

progress {
  width: 90%;
  height: 20px;
}

#survive-cont {
  grid-column: game-timer / menu-end;
  grid-row: game-stats / game-row-beg;
  text-align: right;
}

#round-cont {
  grid-column: game-round / game-timer;
  grid-row: game-stats / game-row-beg;
  text-align: center;
}

#health-cont {
  grid-column: game-health / game-round;
  grid-row: game-stats / game-row-beg;
  text-align: left;
}

#game-maze {
  grid-column: game-health / menu-end;
  grid-row: game-maze-beg / game-maze-end;
  text-align: center;
}

/* ---------------------------------------- */
/* Cutscene Styling */
/* ---------------------------------------- */

#cutscene {
display: none;
grid-template-rows: 2fr 1fr 1fr;
grid-template-columns: 1fr 4fr 4fr 1fr;
text-align: center;
color: white;
width: 100vw;
height: 100vh;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
font-size: 40px;
margin: 0;
padding: 0;
color: white;
padding-top: 0px;
white-space: nowrap;
overflow: hidden;
font-family: 'Kalam', cursive;
}

#text {
  font-family: 'Bungee';
  grid-row: 2;
  grid-column: 2 / 4;
  font-size: .5em;
}

#image {
  margin-top: 5%;
  grid-row: 1;
  grid-column: 2/4;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-family: 'Kalam', cursive;
  background-color:##383838;
  padding:10px;
  position:relative;
  font-size:12px;
  text-decoration:none;
  color: black;
  border: solid 1px #FFFFFF;
  border-radius: 5px;
  }

  #choice1 {
    float: left;
    margin-right: 10%;
    grid-row: 3;
    grid-column: 2/4;
    animation-iteration-count: infinite;
    margin-bottom: 10%
  }


  .fastShake {
    animation: shake .25s;
    animation-iteration-count: infinite;
  }

  .slowShake {
    animation: shake .5s;
    animation-iteration-count: infinite;
  }

  .verySlowShake {
    animation: shake 2s;
    animation-iteration-count: infinite;
  }

  /*add to make any element shake
  animation: shake 0.5s;
  animation-iteration-count: infinite;*/


    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
